* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

p {
  font-size: 1.6rem;
  line-height: 1.3;
  margin-top: .5rem;
}

.container {
  background-color: white;
  /* height: 100vh; */
  margin: 0 auto;
  width: 90%;
}

section {
  background-color: #0A0A29;
  color: #fff;
  height: 20rem;
  margin-top: 1rem;
  padding: 10rem 0;
}

@media screen and (min-width: 760px){
  .container {
    width: 70rem;
  }
}

@media screen and (min-width: 1000px){
  .container {
    background-color: white;
    /* height: 100vh; */
    margin: 0 auto;
    width: 98rem;
  }
}
