* {
  box-sizing: border-box;
}

/* #arrow {
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    border-style: solid;
    border-color: #9a9a9a;
    border-width: 0px 5px 5px 0px;
    border-radius: 0 5px 0 5px;
    transform: rotate(45deg);
} */

body {
 background-image: url("../images/green6.jpg");
}


#box1 {
  border: 1px solid;
  padding: 20px;
  color: #9a9a9a;
  width: 30%;
  text-align: center;
  float: right;
  margin: 1%;
  background-color: #ffffff;
  margin-top: 4rem;
}

#box2 {
  background-color: white;
  border: 1px solid;
  padding: 14px;
  color: #9a9a9a;
  width: 100%;
  margin-top: 10rem;
}

#box7 {
  background-color: white;
  /* border: 1px solid; */
  /* padding: 14px; */
  color: #9a9a9a;
  width: 100%;
  float: left;
}

.button {
  background-color: #00331D;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2.2rem;
  font-family: 'open sans condensed';
  /* margin-left: 3rem; */
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: white;
  color: #00331D;
  border-color: #00331D;
  border-style: solid;
  padding: .72rem 2.72rem;
  transition: 0.5s;
  box-shadow: 6px 10px 8px #888888;
}

.container {
  background-color: none;
  height: 100vh;
  margin: 0 auto;
  width: 100%;
}


footer p {
  color: #ffffff;
  text-align: center;
  float: left;
  margin: auto;
  width: 100%;
  padding: 10px;
}

footer img {
  height: 50px;
  width: 50px;
  margin: 1.2%;
}


footer #box6 {
  border: 1px solid;
  padding: 2%;
  width: 100%;
  text-align: center;
  float: left;
  /* margin: 1%; */
  background-color: #00331D;
  margin-top: 4rem;
}

footer #sm {
 padding: 20px;
 width: 40%;
 text-align: center;
 float: left;
 margin: 1% 40%;
 background-color: inherit;
 margin-top: 4rem;
}

html {
  font-size: 10px;
}

h1 {
  color: #00331D;
  font-size: 8rem;
  font-family: "poiret one";
}

h2 {
  color: #00331D;
  font-size: 4rem;
  font-family: "poiret one";
}

h3 {
  color: #00331D;
  font-size: 7rem;
  font-family: "poiret one";
  text-decoration: underline #00331D;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}

h4 {
  color: black;
  font-size: 3.6rem;
  font-family: "poiret one";
  padding-left: 4%;
  padding-right: 2%;
  padding-top: 2%;
}

h5 {
  color: #00331D;
  font-size: 4.4rem;
  font-family: "poiret one";
  text-align: center;
  /* padding-top: 2%; */
}

h6 {
  color: #9a9a9a;
  font-size: 3.2rem;
  font-family: "poiret one";
  text-align: center;
}

h7 {
  font-size: 3.2rem;
  font-weight: bold;
}

/* h8 {
  padding-left: 6%
} */

/* hr {
  color: white;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #9a9a9a;
  border-width: 20px;
} */

.logohome {
    float: left;
    margin-top: -40px;
}

nav a{
  display: block;
  color: #00331D;
  float: right;
  font-family: "poiret one";
  font-size: 3em;
  padding: 10px 20px;
  text-decoration: none;
  /* margin-top: 2rem; */
}

nav a:hover {
  color:#ADD9C8;
  text-decoration: underline;
}

nav img {
  display: block;
  float: left;
  text-decoration: none;
  float: left;
  width: 120px;
  height: 120px;
}


p {
  color: black;
  font-size: 3rem;
  line-height: 1.3;
  margin-top: .5rem;
  font-weight: 100;
  font-family: "open sans condensed";
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
}

/* .about {
  height: auto;
  padding-top: 3rem;
  float: left;
  width: 40%;
  margin-top: 20rem;
  margin-left: -15rem;
  border-style: solid;
  border-color: #9A9A9A;
  border-width: 3px;
  background-color: inherit;
  width: inherit;
}
.about p {
  color: #00331D;
  padding: 1rem;
}
.about h1 {
  padding: 1rem;
} */

/* #box3 {
  background-color: white;
  border: 1px solid;
  color: #9a9a9a;
  width: 100%;
  margin-top: 40rem;
  width: 60%;
  text-align: left;
  float: left;
  margin: 10px;
}
#box4 {
  width: 20%;
  text-align: left;
  float: left;
  margin: 10px;
} */


.contact {
  background-color: inherit;
  padding: 10rem;
  padding-top: 25rem;
  float: left;
}


section {
  background-color: white;
  color: #fff;
  height: auto;
  margin-top: 1rem;
  /* padding: 1rem; */
  margin: 4%;
  padding-bottom: 2%;
}

.cases {
  border: 1px solid;
  padding: 20px;
  color: #9a9a9a;
  width: 40%;
  text-align: left;
  float: left;
  margin: 5%;
  background-color: #ffffff;
  margin-top: 10rem;
}

.cases .button {
  margin-left: 2rem;

}

.caseimg {

  background-color: inherit;

}

.caseimg img {
  background-color: inherit;
  width: 50%;
  text-align: left;
  float: right;
  margin: 0;
  margin-top: 5rem;

}

.cases p {
  color: #9A9A9A;
  font-family: 'Open Sans Condensed';
  font-size: 3rem;
  font-weight: 100;
  padding: 2rem;
}

.cases h1 {
  padding-left: 2rem;
}

.color {
  height: 70rem;
}

.color ul {
  color: black;
  font-size: 3.4rem;
  font-family: 'open sans condensed';
  text-align: center;
}

.color ul li {
  float: left;
  padding: 5%;
  display: inline;
  width: 25%;
}

.color img {
  height: 175px;
}

.compet a {
  margin: 4%;
}

.compet ul{
  color: #00331D;
  font-size: 3rem;
  font-family: 'open sans condensed';
  font-weight: bold;
  float: left;
  padding: 3%;
  width: 33%;
}

.compet ul img{
  height: 150px;
}

.conclusions a{
  margin: 4%;
}


.discovery {
  /* padding: 2% */
}

.flows img{
  float: left;
  width: 46%;
  margin: 2%;
}

.flows a {
  margin: 3%;
  margin-left: 6%;
}

.hero {
  background-color: inherit;
  padding: 10rem;
  padding-top: 25rem;
}

.hero img {
  display: block;
  margin:auto;
  margin-top: 8rem;
}

.heroabout {

  border: 2px solid;
  padding: 20px;
  color: #9a9a9a;
  width: 50%;
  text-align: left;
  float: left;
  margin: 5%;
  background-color: #ffffff;
  margin-top: 4rem;
}

.heroabout p {
  color: #00331D;
  font-size: 2.8rem;
}

.heroabout h1 {
  padding-left: 4%;
}

.heroabout2 {
  background-color: inherit;
}

.heroabout2 img{
  width: 30%;
  float: right;
  margin: 4rem;

}

.heroabout3 {
  /* height: 2rem;
  padding-top: 3rem;
  float: left;
  width: 50%;
  margin-top: 2rem; */
  background-color: inherit;
}

.heroabout3 img {
  border: 2px solid;
  color: #9a9a9a;
  width: 50%;
  text-align: left;
  float: left;
  background-color: #ffffff;
  margin-top: 4rem;
  margin: 1%;
}

.heroabout4 {
  height: auto;
  padding: 3rem;
  float: right;
  width: 40%;
  margin-top: 2rem;
  border-style: solid;
  border-width: 2px;
  border-color: #9a9a9a;
  text-align: center;
}

.heroabout4 p {
  color: #00331D;
}

.heroabout5 {
  height: auto;
  /* padding-top: 3rem; */
  float: left;
  width: 45%;
  margin-top: 2rem;
  border-style: solid;
  border-width: 2px;
  border-color: #9a9a9a;
  text-align: center;
  padding: 2%;
  display: block;
  margin-left: 30%;
  margin-right: 30%;
}

.heroabout5 p {
   color: #00331D;
}

.herokeeps {
  background-color: inherit;
  background-image: url("../images/keepsimages/herokeeps.png");
  height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 40rem;
  float: left;
  width: 100%;
  margin-top: -12px;
  margin: auto;
}

.herokeeps a {
  margin-left: -30rem;
}

.herokeeps img {
  margin-left: -30rem;
  margin-top: -30%;
}

.herokeeps p {
  margin-left: -30rem;
  padding-bottom: 2rem;
}

.personas {
  height: 235rem;
}

/* .personas p {
  padding-bottom: 2%;
} */

.logo {
  height: 80rem;
}

.logo #draww{
  float: left;
  padding-left: 10%;
  width: 38%;
}

.logo #fig{
  float: right;
  padding-right: 10%;
  width: 45%;
}

.personas ul {
  color: black;
  font-size: 3rem;
  font-family: 'open sans condensed';
  float: left;
  width: 48%;
  padding: 4%;
}

.personas ul li {
  padding: 2%;
  line-height: 1.3;
}

.personas ul img {
  /* height: 500px; */
  border-width: 20px;
  border-style: solid;
  border-color: #ADD9C8;
  /* margin: 0 8%; */
}



.roles {
  background-color: inherit;
  border-style: none;
  border-color: #9a9a9a;
  border-width: 1px;
  height: 140rem;
}

.roles ul {
  color: black;
  font-size: 3.4rem;
  font-family: 'poiret one';
}

.roles ul li {
  color: #9a9a9a;
  font-size: 3rem;
  font-family: 'open sans condensed';
}


.sketch {
  height: 130rem;
}

.sketch img{
  float: left;
  width: 31%;
  padding: 2%;
  margin: 1%;
}

.sketch ul {

}

.sketch #but1 {
  float: left;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 12%;
  margin-top: -10%;
}

.sketch #but2 {
  float: right;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 12%;
  margin-top: -10%;
}



.survey {
  height: 90rem;
}

.survey ul{
  color: black;
  font-size: 3rem;
  font-family: 'open sans condensed';
  float: left;
  padding: 3%;
  width: 33%;
}

.survey ul img{
  height: 150px;
}

.stories ul li{
  color: black;
  font-size: 3rem;
  font-family: 'open sans condensed';
  padding: 1%;
  padding-left: 4%;
}


.testing {
  height: 340rem;
  /* float: left; */
}

.testing img {
  width: 50%;
  padding: 1%;
  padding-top: 5%;
  float: left;
}

.testing ul {
  color: black;
  font-size: 3.2rem;
  font-family: 'open sans condensed';
}

.testing ul img {
  width: 100%;
}

.testing a {
  float: left;
  margin-left: 7%;
}



#box5 {
  border: 4px solid;
  padding: 2%;
  color: #ADD9C8;
  width: 92%;
  text-align: left;
  float: left;
  margin: 4%;
  background-color: #ffffff;
  margin-top: 1rem;
  columns: 2;
}




@media(max-width:414px){

  h3 {
    font-size: 5rem;
  }
/* homepage */

  .logohome {
      float: left;
      margin-top: -4px;
    }

  nav a{
    display: block;
    color: #00331D;
    float: right;
    font-family: "poiret one";
    font-size: 3em;
    padding: 4px 20px;
    margin: .25%;
    text-decoration: none;
  }

  .hero {
    padding: 2rem;
    padding-top: 25rem;
  }

  .hero h1{
    font-size: 6.2rem;
    text-align: center;
  }

  .hero h2{
    font-size: 3rem;
    text-align: center;
  }

  .cases {
    width: 90%;
    float: left;
    margin-top: 4rem;
  }

  .cases .button {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .caseimg img {
    width: 100%;
    margin-top: 1rem;
  }

  #deskimg {
    display: none;
  }

  .cases p {
    font-size: 2.6rem;
    text-align: center;
    padding: 1rem;
  }

  .cases h1 {
    font-size: 6.2rem;
    text-align: center;
  }

  #mobimg {
    display: block;
  }

  footer p {
    font-size: 2.6rem;
  }

  footer img {
    margin: 3%;
  }

/* about page */

.heroabout {
  width: 94%;
  float: left;
  margin: 3%;
  margin-top: 4rem;
}

.heroabout p {
  font-size: 2.2rem;
  padding: 2% 5%;
}

.heroabout h1 {
  text-align: center;
  font-size: 4.4rem;
}

.heroabout2 img{
  width: 98%;
  float: left;
  margin: 1%;
  padding-bottom: 2rem;

}

.heroabout3 img {
  width: 100%;
}

.heroabout4 {
  width: 94%;
  margin-top: 2rem;
  margin: 3%;
}

.heroabout4 p {
  font-size: 2.2rem;
}

.heroabout5 {
  width: 80%;
  padding: 2%;
  margin-left: 9%;
  margin-right: 9%;
}

.heroabout5 p {
   color: #00331D;
}

/* keeps page */

/* hero */
#deskkhero {
  display: none;
}
.mlogo {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 20rem;
}

.heromobile {
  margin: 0;
}

.heromobile img {
  width: 100%;
}

.herowords {
  float: left;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.herowords p {
  text-align: center;
}

.herowords a {
  float: left;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
/* roles */
.roles {
  height: 108rem;
}

#box1 {
  border: 1px solid;
  padding: 20px;
  color: #9a9a9a;
  width: 98%;
  text-align: center;
  float: right;
  margin: 1%;
  background-color: #ffffff;
  margin-top: 4rem;
}

/* discovery */



}



@media(min-width:415px){
#mobimg {
  display: none;
}

#mobdog {
  display: none;
}

#mobme {
  display: none;
}

#moblogo {
  display: none;
}

}
