* {
  box-sizing: border-box;
}

body {
 background-image: url("../portfolio/Images/green6.jpg");
}

}

body background {
  height: 200%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("portfolio/images/green6.jpg");  */
}

.button {
  background-color: #00331D;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 2.2rem;
  font-family: 'open sans condensed';
  /* margin-left: 3rem; */
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: white;
  color: #00331D;
  border-color: #00331D;
  border-style: solid;
  padding: .72rem 2.72rem;
  transition: 0.5s;
}

border-radius: 6px;
border-style: solid;
display: inline-block;
font-size: 2.2rem;
font-family: 'open sans condensed';
padding: 1rem 3rem;

.container {
  background-color: none;
  height: 100vh;
  margin: 0 auto;
  width: 95%;
}

footer {
  padding: 26rem;
}

footer p {
  font-size: 3rem;
  color: #00331D;
  font-family: 'open sans condensed';
  font-weight: 100;
}

html {
  font-size: 10px;
}

h1 {
  color: #00331D;
  font-size: 8rem;
  font-family: "poiret one";
}

h2 {
  color: #00331D;
  font-size: 4rem;
  font-family: "poiret one";
}

h3 {
  color: #00331D;
  font-size: 7rem;
  font-family: "poiret one";
}

h4 {
  color: black;
  font-size: 3.6rem;
  font-family: "poiret one";
}

h5 {
  font-size: 4.4rem;
  font-family: "poiret one";
}

h6 {
  color: #9a9a9a;
  font-size: 3.2rem;
  font-family: "poiret one";
}

h7 {
  font-size: 3.2rem;
  font-weight: bold;
}

.logohome {
    float: left;
    margin-top: -80px;
}

nav a{
  display: block;
  color: #00331D;
  float: right;
  font-family: "poiret one";
  font-size: 3em;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  color:#ADD9C8;
  text-decoration: underline;
}

nav img {
  display: block;
  float: left;
  text-decoration: none;
  width:auto;
  height:20em;
  float: left;
  width: 200px;
  height: 260px;
}


p {
  color: black;
  font-size: 3rem;
  line-height: 1.3;
  margin-top: .5rem;
  font-weight: 100;
  font-family: "open sans condensed";
}

section {
  background-color: none;
  color: #fff;
  height: 60rem;
  margin-top: 1rem;
  padding: 10rem 0;
  margin: 4rem;
}

section.cases {
  width: 50%;
}

section.cases img {
  width: 100%;
}

section.cases p {
  color: #9A9A9A;
  font-family: 'Open Sans Condensed';
  font-size: 3rem;
  font-weight: 100;
}

section.compet ul{
  color: #00331D;
  font-size: 3rem;
  font-family: 'open sans condensed';
  font-weight: bold;
}

section.hero {
padding: 10rem;
padding-top: 30rem;
}

section.hero img {
  display: block;
  margin:auto;
  margin-top: 4rem;
}

section.herokeeps {
padding: 10rem;
padding-top: 30rem;
}

section.personas ul {
  color: black;
  font-size: 3rem;
  font-family: 'open sans condensed';
}

section.roles ul {
  color: black;
  font-size: 3.4rem;
  font-family: 'poiret one';
}

section.roles ul li {
  color: #9a9a9a;
  font-size: 3rem;
  font-family: 'open sans condensed';
}

section.survey ul {
  color: black;
  font-size: 3rem;
  font-family: 'open sans condensed';
}

section.stories ul {
  color: black;
  font-size: 3rem;
  font-family: 'open sans condensed';
}


/*
@media screen and (min-width: 760px){
  .container {
    width: 70rem;
  }
}

@media screen and (min-width: 1000px){
  .container {
    background-color: none;
    height: 100vh;
    margin: 0 auto;
    width: 98rem;
  }
} */
